a:link {
	color: black;
	font-size: 12px;
	text-decoration: none;
}

a:visited {
	color: black;
	font-size: 12px;
	text-decoration: none;
}

a:hover {
	color: red;
	font-size: 15px;
	text-decoration: underline;
}